<header>
<img src="images/logo.svg" alt="Logo" /><!-- https://www.iconfinder.com/  -->
<button type="button" class="hamburguer-menu"><!-- avatar, icones de sistema  -->
    <img src="images/hamburguer.svg" alt="Hamburguer Menu" />
</button>
<nav class="navbar nav-legendaries">
    <a href="/">
        Home
    </a>
    <a href="/pokedex">
        Pokédex
    </a>
    <a href="/legendaries">
        Legendaries
    </a>
    <a href="/api-docs">
        Documentation
    </a>
    <a href="/coach" id="signup">
        <img src="images/signup.png" alt="entrar">
    </a>
    <a href="/coach/login">
        <img src="images/entrar.png" alt="entrar">
    </a>
</nav>
</header>