<%- include('./partials/head');  %>
<body>
    <main>
        <div>
            <h1><strong>Pokemon</strong> Dashboard. <%= coach.nome %></h1>
            <p>You can know the type of Pokemon, its strengths, disadvantages and abilities</p>
        </div>
    </main>
</body>
</html>