<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link href="../stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/legendaries.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../images/logo.svg" alt="Logo" />
        <button type="button" class="hamburguer-menu">
            <img src="../images/hamburguer.svg" alt="Hamburguer Menu" />
        </button>
        <nav class="navbar nav-legendaries">
            <a href="/">
                Home
            </a>
            <a href="/pokedex">
                Pokédex
            </a>
            <a href="/legendaries">
                Legendaries
            </a>
            <a href="/documentation">
                Documentation
            </a>
        </nav>
        </header>
    <main class="main-legendaries" >
        <h2>Área restrita - configurações</h2>
        <div class="form-container">
            <h3>Editar meu perfil</h3>
            <form action="/coach?_method=PUT" method="post" enctype="multipart/form-data" class="form"> 
                <input type="number" id="id" name="id" value="<%= coach.id %>" hidden />
                <label for="nome">Nome de Usuário</label>
                <input type="text" id="nome" name="nome" value="<%= coach.nome %>" />
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" value="<%= coach.email %>" />
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" value="<%= coach.senha %>" />
                <label for="foto">selecione foto</label>
                <input type="file" id="foto" name="foto" multiple>
                <input type="submit" name="editar" class="link-pokemons" value="editar" />
              </form>
        </div>
    </main>
</body>
</html>