<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link href="../stylesheets/index.css" rel="stylesheet" />
    <link rel="stylesheet" href="../stylesheets/legendaries.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img src="../images/logo.svg" alt="Logo" />
        <button type="button" class="hamburguer-menu">
            <img src="../images/hamburguer.svg" alt="Hamburguer Menu" />
        </button>
        <nav class="navbar nav-legendaries">
            <a href="/">
                Home
            </a>
            <a href="/pokedex">
                Pokédex
            </a>
            <a href="/legendaries">
                Legendaries
            </a>
            <a href="/documentation">
                Documentation
            </a>
            <a href="/coach">
                New Coach
            </a>
            <a href="/coach/login">
                Login
            </a>
        </nav>
        </header>
    <main>
        <h2>Principal</h2>
        <div>
            <h3>New Coach</h3>
            <form action="/coach/dashboard" method="post">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" />
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" />
                <input type="submit" name="entrar" value="entrar" />
              </form>
        </div>
    </main>
</body>
</html>