<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo.png" alt="agenda 822">
            <a href="/login" target="_self"><img src="/images/entrar.svg"></a>
            <h1><%= title %></h1>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <article>
                <% if(typeof usuario != "undefined"){ %>
                    <div><p><%= usuario.nome %> editado com sucesso! <a href="/">Voltar para Home</a>  </p></div>
                <% } else{ %>    
                <form action="/editar-usuario/_method=PUT" method="POST" enctype="multipart/form-data">
                    
                    <label for="nome">Nome do usuário</label>
                    <input type="text" name="nome" id="nome" value=""  disabled="disabled" />
                   
                    <label for="cpf">cpf</label>
                    <input type="text" name="cpf" id="cpf" value="" disabled="disabled" />
                   
                    <label for="data_nascimento">data nascimento</label>
                    <input type="date" name="data_nascimento" id="data_nascimento" value="" disabled="disabled" />
                   
                    <label for="telefone">telefone</label>
                    <input type="tel" name="telefone" id="telefone" value="" placeholder="+5521977772222" />
                   
                    <label for="email">email</label>
                    <input type="email" name="email" id="email" value="" />
                   
                    <label for="senha">senha</label>
                    <input type="text" name="senha" minlength="6" maxlength="9" id="senha" value="" />
                    
                    <label for="confirma-senha">confirmar senha</label>
                    <input type="text" name="confirma-senha" minlength="6" maxlength="9" id="confirma-senha" />

                    <label for="endereco">endereço</label>
                    <input type="text" name="endereco" id="endereco"  value="" />
                   
                    <label for="profissao">profissão</label>
                    <input type="text" name="profissao" id="profissao" value="" />
                   
                    <label for="salario">salario</label>
                    <input type="text" name="salario" id="salario" value="" />
                   
                    <label for="avatar">avatar</label>
                    <input type="file" name="avatar" id="avatar"  accept=".png, .jpg, .jpeg" />
                    
                    <input type="submit" name="salvar dados" onclick="return validarSenha()" value="salvar dados" />
                </form>
                <% } %>
            </article>
        </section>
        <footer>
            <hr>
            <p>rodapé</p>
            <p><a href="#">redes sociais</a></p>
        </footer>
    </main>
    <script src="/javascripts/funcoes.js"></script>
</body>
</html>