<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo.png" alt="agenda 822">
            <a href="/login" target="_self"><img src="/images/entrar.svg"></a>
            <h1><%= title %></h1>
            <h2>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit."</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis erat eros. Proin sollicitudin feugiat felis vel varius. Ut eleifend est nec felis posuere aliquam. Praesent ut ex efficitur, viverra velit at, sodales ex. Aenean ultrices, ante eget interdum accumsan, risus erat pretium lorem, vitae facilisis arcu nunc quis urna. Morbi ornare, erat nec euismod vulputate, turpis metus tempus sem, id consectetur tortor orci sed urna. Etiam nec velit interdum, viverra nunc non, aliquet quam. In ut lorem non libero faucibus egestas et quis dui. Integer in massa a magna maximus commodo. Vestibulum eget porta est, sit amet tincidunt neque. Duis facilisis elit a tellus iaculis luctus sed quis enim. Donec ut ullamcorper ante, at consectetur neque. Aenean massa magna, pellentesque id fringilla eget, faucibus in magna. Morbi pretium vehicula mauris dictum venenatis. Donec mauris mi, pellentesque eget mi ut, ullamcorper suscipit nisl.</p>
            <a href="/novo-usuario" target="_self" title="cadastrar">Ainda não tem cadastro?</a>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <article>
                <h2>Neque porro quisquam.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis erat eros. Proin sollicitudin feugiat felis vel varius. Ut eleifend est nec felis posuere aliquam. Praesent ut ex efficitur, viverra velit at, sodales ex. Aenean ultrices, ante eget interdum accumsan, risus erat pretium lorem, vitae facilisis arcu nunc quis urna. Morbi ornare, erat nec euismod vulputate, turpis metus tempus sem, id consectetur tortor orci sed urna. Etiam nec velit interdum, viverra nunc non, aliquet quam. In ut lorem non libero faucibus egestas et quis dui. Integer in massa a magna maximus commodo. Vestibulum eget porta est, sit amet tincidunt neque. Duis facilisis elit a tellus iaculis luctus sed quis enim. Donec ut ullamcorper ante, at consectetur neque. Aenean massa magna, pellentesque id fringilla eget, faucibus in magna. Morbi pretium vehicula mauris dictum venenatis. Donec mauris mi, pellentesque eget mi ut, ullamcorper suscipit nisl.</p>
            </article>
            <article>
                <h2>Neque porro quisquam.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis erat eros. Proin sollicitudin feugiat felis vel varius. Ut eleifend est nec felis posuere aliquam. Praesent ut ex efficitur, viverra velit at, sodales ex. Aenean ultrices, ante eget interdum accumsan, risus erat pretium lorem, vitae facilisis arcu nunc quis urna. Morbi ornare, erat nec euismod vulputate, turpis metus tempus sem, id consectetur tortor orci sed urna. Etiam nec velit interdum, viverra nunc non, aliquet quam. In ut lorem non libero faucibus egestas et quis dui. Integer in massa a magna maximus commodo. Vestibulum eget porta est, sit amet tincidunt neque. Duis facilisis elit a tellus iaculis luctus sed quis enim. Donec ut ullamcorper ante, at consectetur neque. Aenean massa magna, pellentesque id fringilla eget, faucibus in magna. Morbi pretium vehicula mauris dictum venenatis. Donec mauris mi, pellentesque eget mi ut, ullamcorper suscipit nisl.</p>
            </article>
        </section>
        <footer>
            <hr>
            <p>rodapé</p>
            <p><a href="#">redes sociais</a></p>
        </footer>
    </main>
</body>
</html>