<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo.png" alt="agenda 822">
            <a href="/login" target="_self"><img src="/images/entrar.svg"></a>
            <h1><%= title %></h1>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <article>
                <% if(typeof usuario != "undefined"){ %>
                    <div><p><%= usuario.email %> AND <%= usuario.senha %> <a href="/">Voltar para Home</a>  </p></div>
                <% } else{ %>   
                <form action="" method="POST">
                    <label for="email">email</label>
                    <input type="text" name="email" id="email">
                    <label for="senha">senha</label>
                    <input type="password" name="senha" id="senha">
                    <input type="submit" name="entrar" value="entrar">
                </form>
                <% } %>
                <div>
                    <a href="#" target="_self" title="recuperar senha">esqueci minha senha</a>
                </div>
            </article>
        </section>
        <footer>
            <hr>
            <p>rodapé</p>
            <p><a href="#">redes sociais</a></p>
        </footer>
    </main>
</body>
</html>