<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/logo.png" alt="agenda 822">
            <a href="/login" target="_self"><img src="/images/entrar.svg"></a>
            <h1><%= title %></h1>
        </nav>
        <hr>
    </header>
    <main>
        <section>
            <article>
                <% if(typeof usuario != "undefined"){ %>
                    <div><p><%= usuario.nome %> cadastrado com sucesso! <a href="/">Voltar para Home</a>  </p></div>
                <% } else{ %>    
                <form action="/recuperar-senha/_method=PUT" method="POST" enctype="multipart/form-data">
                    <label for="senha">Nova senha</label>
                    <input type="text" name="senha" minlength="6" maxlength="9" id="senha" value="" />
                    
                    <label for="confirma-senha">confirmar senha</label>
                    <input type="text" name="confirma-senha" minlength="6" maxlength="9" id="confirma-senha" />

                    <input type="submit" name="editar" onclick="return validarSenha()" value="editar" />
                </form>
                <% } %>
            </article>
        </section>
        <footer>
            <hr>
            <p>rodapé</p>
            <p><a href="#">redes sociais</a></p>
        </footer>
    </main>
    <script src="/javascripts/funcoes.js"></script>
</body>
</html>