<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <section>
    <h1>List <%= title %></h1>
  
    <% if(lista.length <= 0){ %>
      <p>Nada a ser mostrado.</p>
    <% }else{ %>
      <ul>
        <% lista.forEach(item=>{ %>   
            <li><%= item.username %></li>
        <% }) %>
      </ul>
    <% } %>
  </section>
  </body>
</html>
